body {
    margin: 0;
    z-index: 1;
}
nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: chartreuse;
}

.modal {
    visibility: inherit;
    display: block;
    background-color: lightsteelblue;
    max-width: fit-content;
    position: absolute;
    top: 40px; right: 40px;
}

.btn-primary {
    border-radius: 5px;
    
}

button {
   border-radius: 20px;
   align-self: center;
}

h1 {
    font-size: 4em;
    text-align: center;
}

.banner  {
    width: 100%;
   
}




.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    
    
}

.row {
    display: flex;
    justify-content: center;
    border: black;
}

button#addToCart {
        position: relative;

}

.row img {
    padding: 2em;
    display: inline-flexbox;
    
}


#addToCart {
    position: absolutet;
    justify-self:center;
}